@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root{
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

form input{
    outline: none;
    border: none;
}

button{
    border: none;
    outline: none;
}

h1{
    font-size: 3em;
    font-family: 'Raleway';
}

p{
    font-family: 'Open Sans';
    font-size: 1.5em;
}

.container{
    width: 85%;
    margin: 0 auto;
}

/*Header*/

header{
    padding: 40px 0;
    font-family: 'Raleway';
    margin-bottom: 30vh;
}

header .container nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    
}

header .container nav ul{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav ul a{
    color: #000;
}

header .container #header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
}


header .container #header-content #area-txt-header{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    align-items: flex-start;

}



header .container #header-content #area-txt-header h1{
    padding: 12px 0;
    line-height: 135%;
}

header .container #header-content #area-txt-header p{
    width: 93%;
    letter-spacing: 1px;
    padding: 12px 0;
}


header .container #header-content #area-txt-header form{
    width: 100%;
    padding: 8px 0;
}

header .container #header-content #area-txt-header form input{
    border-radius: 5px;
    width: 60%;
    border: 1px solid var(--LightGray);
    padding: 15px;
    margin: 0 7px 0 0;
}


header .container #header-content #area-txt-header form input::placeholder{
    color: hsl(0, 0%, 75%);
}

.btn-start{
    width: 30%;
    margin: 0 0 0 0;
    padding: 15px ;
    color: #fff;
    background-color: var(--BrightBlue) ;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.2);
}


header .container #header-content #area-img-header img{
    width: 100%;
}

/*Main*/

#area-wave{
    position: absolute;
    left: 0px;
    height: 100%;
    top: -99%;
    width: 100%;
    background-image: url('images/bg-curve-desktop.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    
}

main{
    position: relative;
    background-color: var(--LightGrayishBlue);
    margin-top: 30vh;
    padding: 30px 0 50px 0;
}

main .container{
    padding-top: 50px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}




main .container #area-txt-main h1{
    margin-bottom: 25px;
    font-size: 3em;
}

main .container #area-txt-main p{
    color: var(--DesaturatedBlue);
  width: 80%;
  margin: 25px 0;
}

main .container #area-txt-main  a{
    text-align: center;
    border-bottom: 2px solid;
    font-size: 1.5em;
    color: var(--ModerateCyan);
    padding-bottom: 5px;
    font-weight: 400;
 
}

main .container #area-txt-main  a img{
    position: relative;
    top: 3px;   
}


main .container #area-txt-main #card-main{
    margin-top: 50px;
    background-color: #fff;
    width: 350px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 5px 27px 6px rgba(0,0,0,0.1);
    margin-bottom: 100px;
    
    
}

main .container #area-txt-main #card-main .container{
    width: 90%;
    padding: 25px  0 20px 0;
    display: block; 
}

main .container #area-txt-main #card-main .container img#qoutes{
    width: 22px;
    height: 20px;
}

main .container #area-txt-main #card-main .container p{
    color: #000;
    font-size: 1.2em;
    margin: 10px 0;
    line-height: 200%;
    width: 100%;  
}

main .container #area-txt-main #card-main .container #area-perfil-card{
    margin-top: 20px;
    display: flex;
    width: 70%;
}

main .container #area-txt-main #card-main .container #area-perfil-card img#perfil-photo{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

main .container #area-txt-main #card-main .container #area-perfil-card #area-desc-card {
    margin: 0 0 0 5px;
}

main .container #area-txt-main #card-main .container #area-perfil-card #area-desc-card h1{
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}

main .container #area-txt-main #card-main .container #area-perfil-card #area-desc-card  span{
    font-size: 1em;
}




main .container #area-img-main{
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

main .container #area-img-main img{
    width: 90%;
    height: 80%;
}




/*footer*/


footer section#footer-1{
    color: #fff;
    background-color: var(--DesaturatedBlue);
    padding: 100px 0;
}


footer section#footer-1 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

footer section#footer-1 .container #area-txt-footer1 h1{
    padding: 0 0 25px 0;
}

footer section#footer-1 .container #area-txt-footer1 p{
    width: 90%;
    line-height: 160%;
}

footer section#footer-1 .container #area-form-footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer section#footer-1 .container #area-form-footer1 form{
    width: 90%;
}


footer section#footer-1 .container #area-form-footer1 form input{
    width: 100%;
    border: 1px solid var(--LightGray);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
}

footer section#footer-1 .container #area-form-footer1 form button{
    width: 40%;
}

/*footer 2*/

footer section#footer-2{
    background-color: var(--VeryDarkBlue);
    color: #fff;
    padding: 100px 0 25px 0;
}

footer section#footer-2 .container{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "logo logo logo logo"
    "contact link-1 link-2 social"; 
    font-size: 9px;
}


footer section#footer-2 .container a{
    color: #fff;
    font-size: 1.5em;
}

footer section#footer-2 .container #logo-footer{
    grid-area: logo;
}

footer section#footer-2 .container #contact-area{
    grid-area: contact;
}

footer section#footer-2 .container #contact-area .contact{
    margin: 0 0 15px 0;
    display: flex;
}

footer section#footer-2 .container #contact-area .contact::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

footer section#footer-2 .container #contact-area #ct1::before{
    background-image: url("images/icon-phone.svg");
}

footer section#footer-2 .container #contact-area #ct2::before{
    background-image: url("images/icon-email.svg");
}

footer section#footer-2 .container #link-1 a,
footer section#footer-2 .container #link-2 a{
    margin-bottom: 15px;
}

footer section#footer-2 .container #link-1{
    grid-area: link-1;
    display: flex;
    flex-direction: column;
}

footer section#footer-2 .container #link-2{
    grid-area: link-2;
    display: flex;
    flex-direction: column;
}

footer section#footer-2 .container #social{
    grid-area: social;
    display: flex;
}

footer section#footer-2 .container #social div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 1.7em;
    margin: 0 15px 0 0;
}















@media (max-width: 868px) {

    .container{
        width: 90%;
    }

    /*Header*/
    header .container nav ul{
        width: 50%;
    }

     .logo{
        width: 30%;
    }

    header .container #header-content{
        grid-template-columns: 1fr;
    }

    header .container #header-content #area-txt-header{
        order: 2;
        text-align: center;
    }

    header .container #header-content #area-txt-header h1{
        font-size: 2.3em;
        line-height: 145%;
    }

    header .container #header-content #area-txt-header p{
        font-size: 1.4em;
    }

    

    header .container #header-content #area-txt-header form input{
        width: 100%;
    }

    header .container #header-content #area-txt-header form button{
        width: 100%;
        margin-top: 15px;   
        font-size: 1.3em;
    }


    /*Main*/
    #area-wave{
        background-image: url('images/bg-curve-mobile.svg');
    }

    main .container{
        grid-template-columns: 1fr;
        
    }

    main .container #area-txt-main{
        order: 2;
        

    }

    main .container #area-txt-main h1{
        text-align: center;
        font-size: 1.3em;
        
    }


    main .container #area-txt-main p{
        font-size: 1.2em;
        width: 90%;
        text-align: start;
        margin: 20px auto;
    }

    main .container #area-txt-main div#link-txt-main{
        text-align: center;
    }

    main .container #area-txt-main a{
        font-size: 1em;
         display: inline;
         margin: 0 auto !important;

    }

    main .container #area-txt-main #card-main{
        margin: 40px auto;
        width: 90%;
        height: auto;
    }

    main .container #area-txt-main #card-main p{
        font-size: 1em !important;
    }

    main .container #area-txt-main #card-main #area-desc-card{
        font-size: 0.7em;
    }

    main .container #area-txt-main #card-main .container #area-perfil-card img#perfil-photo{
        width: 25px;
        height: 25px;
    }

    main .container #area-txt-main #card-main #area-desc-card h1{
        font-size: 2em;
        text-align: start !important;
    }

    main .container #area-img-main{
        order: 1;
        margin-bottom: 30px;
    }

    main .container #area-img-main img{
        width: 100%;
        height: 100%;
        
    }


    /*footer*/

    footer section#footer-1 .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
    }


    footer section#footer-1 .container #area-txt-footer1{
        text-align: center;
    }

    footer section#footer-1 .container #area-txt-footer1 h1{
        font-size: 2em;
    }

    footer section#footer-1 .container #area-txt-footer1 p{
        font-size: 1.25em;
    }

    footer section#footer-1 .container #area-form-footer1{
        align-items: center;
    }
    
    footer section#footer-1 .container #area-form-footer1 form button{
        width: 100%;
    }


    /*footer 2*/

    footer section#footer-2 .container{
        grid-template-areas: 
        'logo'
        'contact'
        'link-1'
        'link-2'
        'social';
    }

    footer section#footer-2 .container #social{
        justify-content: center;
    }








}